In [1]:
import pandas as pd

In [2]:
import re

In [3]:
data = pd.read_csv('./Email Domain/HR Curated List BM.csv')

In [4]:
data.head()

  First Name Last\rName                               Email & Linkedin Url
0    Sourabh       Kane  sourabh.kane@pvcleanmobility.com\rhttp://www.l...
1      Pawan      Kumar  pawan.kumar@autofitltd.com\rhttp://www.linkedi...
2       Dora   Srivalli  srivallid@pisquaretech.com http://www.linkedin...
3   Khushboo     Sidana  khushboo.sidana@anandgroupindia.com\rhttp://ww...
4     Shweta     Bansal  shweta.bansal@makinoindia.com\rhttp://www.link...

In [5]:
data = data.drop(['First Name', "Last\rName"], axis = 1)

In [43]:
# Define the regex function
def apply_regex_to_column(df, column_name):
    # Compile the regex pattern
    pattern = re.compile(r"@(.+?)\\r|@(.+?)http", re.MULTILINE)

    # Apply the regex pattern to the specified column
    def extract_and_clean_matches(text):
        if isinstance(text, str):
            matches = pattern.findall(text)
            # Flatten the tuple and remove '\r' from matches
            return [match[0] if match[0] else match[1].replace('\r', '').strip() for match in matches]
        return []

    df['domain'] = df[column_name].apply(extract_and_clean_matches)

    # Convert single-item lists to strings
    df['domain'] = df['domain'].apply(lambda x: x[0] if len(x) == 1 else 'gmail.com')
    
    return df['domain']

In [44]:
data = apply_regex_to_column(data, 'Email & Linkedin Url')

In [47]:
data.describe()

count           104
unique           83
top       gmail.com
freq             18
Name: domain, dtype: object

In [48]:
data.to_csv("domains.csv")